.current--wrapper {
  width: var(--container-width);
  min-height: 500px;
  overflow: hidden;
  @media (max-width: 890px) {
    width: calc(100vw - 2rem);
  }
}
.conditions--large {
  text-shadow: 0 0 5px rgb(23 36 50 / 50%);
  color: #fff;
  width: 100%;
  background-color: #4662b4;
  background-size: cover;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.conditions--header {
  padding: 10px 16px;
  background-color: rgba(#000, 0.55);
}
.conditions--body {
  padding: 10px 16px;
  grid-template-columns: 5fr 1fr;
}
.temperature-value {
  font-size: 6rem;
  font-weight: 500;
}
.tab-container__wrapper {
  padding: 10px;
  background-color: #000;
  border-radius: var(--border-radius);
}