.grid-wrapper {
  display: grid;
}
.hours-grid-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 767px) {
    max-width: calc(100vw - 2rem);
  }
}
.hours-grid {
  width: 1200px;
  grid-template-columns: repeat(12, 1fr);
  @media (max-width: 767px) {
    //max-width: 100%;
  }
}
