:root {
  --container-width: 60%;
  --border-radius: 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, itc-avant-garde-gothic-pro, century-gothic, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 0 4rem;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  /*max-width: 1200px;*/
}
.mainHome__body {
  color: #fff;
  background-image:linear-gradient(0deg,#615878,#615878 20%,#464161 60%,#313050 90%,#313050)
}
