:root {
}

.a-center {
  text-align: center;
}

.al-center {
  align-items: center !important;
}

.al-end {
  align-items: flex-end !important;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
.hand {
  cursor: pointer;
}
.d-f,
.flex {
  display: flex;
}

.grid {
  display: grid;
}
.no-display {
  display: none;
}

.hidden-xs {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.visible-xs {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.cf:after,
.cf:before {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold {
  font-weight: 700 !important;
}

.black {
  color: #000 !important;
}
.nowrap {
  white-space: nowrap;
}

.j-center {
  justify-content: center !important;
}

.isHidden {
  display: none;
}

.bgCenter {
  background-size: cover;
  background-position: 50%;
}

.h-full {
  height: 100%;
}

.h-9 {
  height: 2.25rem;
}

.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-12 {
  height: 3rem;
}

.h-7 {
  height: 1.75rem;
}

.h-5\/6 {
  height: 83.333333%;
}
.h-screen {
  height: 100vh;
}
.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-9 {
  width: 2.25rem;
}

.w-7\/12 {
  width: 58.333333%;
}

.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-1\/2 {
  width: 50%;
}

.w-12 {
  width: 3rem;
}

.w-7 {
  width: 1.75rem;
}
.right-4 {
  right: 1rem;
}

.top-4 {
  top: 1rem;
}

.right-12 {
  right: 3rem;
}

.bottom-5 {
  bottom: 1.25rem;
}
.bottom-0 {
  bottom: 0;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.z-10 {
  z-index: 10;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.overflow-hidden {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.cursor-pointer {
  cursor: pointer;
}
.text-white {
  color: #fff;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-4 {
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-y-14 {
  row-gap: 3.5rem;
}

.overflow-hidden {
  overflow: hidden;
}
.object-cover {
  object-fit: cover;
}

.p-0\.5 {
  padding: 0.125rem;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-12 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-20 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-36 {
  padding-bottom: 9rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-0 {
  margin-right: 0;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}
