:root {
}

.a-center {
  text-align: center;
}

.al-center {
  align-items: center !important;
}

.al-end {
  align-items: flex-end !important;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
.hand {
  cursor: pointer;
}
.d-f,
.flex {
  display: flex;
}

.grid {
  display: grid;
}
.no-display {
  display: none;
}

.hidden-xs {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.visible-xs {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.cf:after,
.cf:before {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold {
  font-weight: 700 !important;
}

.black {
  color: #000 !important;
}
.nowrap {
  white-space: nowrap;
}

.j-center {
  justify-content: center !important;
}

.isHidden {
  display: none;
}

.bgCenter {
  background-size: cover;
  background-position: 50%;
}

.h-full {
  height: 100%;
}

.h-9 {
  height: 2.25rem;
}

.h-5 {
  height: 1.25rem;
}

.h-12 {
  height: 3rem;
}

.h-7 {
  height: 1.75rem;
}

.h-5\/6 {
  height: 83.333333%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-9 {
  width: 2.25rem;
}

.w-7\/12 {
  width: 58.333333%;
}

.w-5 {
  width: 1.25rem;
}

.w-1\/2 {
  width: 50%;
}

.w-12 {
  width: 3rem;
}

.w-7 {
  width: 1.75rem;
}
.right-4 {
  right: 1rem;
}

.top-4 {
  top: 1rem;
}

.top-0 {
  top: 0;
}

.right-12 {
  right: 3rem;
}

.bottom-5 {
  bottom: 1.25rem;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.z-10 {
  z-index: 10;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}
